:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--container-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

span {
  margin-right: 1rem;
}
