/* You can add global styles to this file, and also import other style files */
.heading {
  color: blue;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: orange;
  padding: 10px;
}
